tutoC/seance01/premier_programme/premier
tutoC/seance01/printf/printf
tutoC/seance02/fonction/fonction
tutoC/seance02/pointeur/pointeur
tutoC/seance03/array/array
tutoC/seance03/cat/cat
tutoC/seance03/wc/wc



*.o
